* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  border-bottom: solid #ccc 1px !important;
}

.active {
  border-bottom: solid black 2px;
}

/* About section */

.about-image {
  border-radius: var(--border-radius-medium);
  display: block;
}

.about-text-wrap {
  position: relative;
}

/* Footer */
.footer {
  border-top: solid #ccc 1px;
}

.about-text-info {
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 20px;
  padding: 35px;
}

/* Register */
.register,
.login,
.forgot-password {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}
